<section>

    <div class="container">
        <class class="form-group">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h1>Login Id</h1>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <input type="text" class='form-control' id='id' ng-model='id'>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h1>password</h1>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <input type="password" class='form-control' id='password' ng-model='password'>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="loggedIn">Remember logged in</label>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <button class="btn btn-success btn-lg" ng-click="check()">login</button>
                </div>
                <div class="col-md-2"></div>
            </div>





        </class>
    </div>
</section>