<!DOCTYPE html>
<html ng-app="student-api-app">

<head>
    <title>student api single page app</title>
    <link rel="stylesheet" href="../bootstrap3/css/bootstrap.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.1/angular-route.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="controller.js"></script>




</head>

<body>


    <div class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-brand">Student-api</div>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#displayStudents">Fetch Data</a>
                    </li>
                    <li>
                        <a href="#addStudent">Add student</a>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">>
                    <li>
                        <div id="userName" class="navbar-text" style="color:white" ng-bind="user"></div>
                    </li>
                    <li>
                        <button type="button" class="btn btn-danger navbar-btn"  id="logout" ng-click="logout()" ng-show="viewLogout">logout</button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-danger navbar-btn"  id="login" ng-click="login()" ng-show="viewLogin">login</button>
                    </li>
                </ul>
            </div>
        </nav>
        <div ng-view>

        </div>
    </div>
</body>
<script>
    var userName = document.getElementById("userName");
    window.onload = function (e) {
        if (localStorage.getItem("userName") == null) {
            document.getElementById("logout").setAttribute("style", "display:none");
        }
        else
            userName.innerHTML = localStorage.getItem("userName");
    }


    window.onhashchange = function (e) {
        if (localStorage.getItem("userName") == null) {
            document.getElementById("logout").setAttribute("style", "display:none");
            userName.innerHTML="Guest";
        }
        else {
            userName.innerHTML = localStorage.getItem("userName");
            document.getElementById("logout").setAttribute("style", "display:show");
        }
    }
</script>

</html>